<!doctype html>
<html lang="en">

{% extends 'navbar.html' %}

{%block title%} Home
    {%endblock title%}
 
 


{%block body%}
    <!--- <h1 align="center">Madhusudan Sharma</h1> --->
    <div class="container-fluid px-0">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/carousel/c_1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/carousel/c_3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/carousel/c_2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>



      <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br>
  <div class="container marketing">
    <h1 align="center"> My Skills</h1> <br>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/skills/cisco.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        
        <h2>Computer Networks</h2>
        <p>I work with computer networks and am familiar with Cisco networking devices. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/skills/python.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Backend Development</h2>
        <p>I can manage serverside applications with Python and create websites using dJango framework.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/skills/vue.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Frontend Development</h2>
        <p>I can design and manage clientside webpages powered by HTML/CSS and Vue.JS</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h1 align="center">Deployed Projects</h1> <br>
    <div class="row featurette">
      <div class="col-md-7">
   
        <h2 class="featurette-heading">Kaos Arts <span class="text-muted"> <a href="http://msharma.com.np" target=_blank style="text-decoration: none; color: grey; font-size: 20px;" >  Visit</a></span></h2>
        <p class="lead">Kaos Arts is a photography portfolio and a gallery targetted specially for a professional photographer.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="static/projects/1.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Earth Mine Traders <span class="text-muted"> <a href="http://earthminetraders.com.np" target=_blank style="text-decoration: none; color: grey; font-size: 20px;" >  Visit</a></span></h2>
        <p class="lead">A construction website designed for a minerals and coals processing company based in Kathmandu, Nepal. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="static/projects/2.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">One By None <span class="text-muted"> <a href="https://onebynone.com.np/" target=_blank style="text-decoration: none; color: grey; font-size: 20px;" >  Visit</a></span></h2>
        <p class="lead">A website for an IT company that deals with designing and devleopment of web apps and computer softwares. </p> 
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="static/projects/3.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{%endblock body%}
</html>
